# This is Git's per-user configuration file.
[user]
	name = Dima
	email = brezhnd@gmail.com

[alias]
	co = checkout
	ci = commit
	br = branch
	cob = checkout -b
  amend = commit -a --amend --no-edit
	xl = log --graph --decorate --oneline --all

